MuleApp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="muleappFlow" doc:id="c792a6dd-fe90-4b5f-ae15-6e6aea303efe" >
		<http:listener doc:name="Listener" doc:id="5fcd00a9-f54e-48bc-b744-4b50a7c70414" config-ref="HTTP_Listener_config" path="/startTransfer"/>
		<salesforce:query doc:name="Query" doc:id="7481e42d-d171-42d8-943c-90d47d021981" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT 	Name, OpportunityName__c,Amount__c, FirstName__c,LastName__c FROM Payment__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="d5b0b7b9-f40c-4d2a-9612-1b1a28766ebd" message="#[output application/java&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d7ffef51-360f-4bc1-9691-ed415f5f0920" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01.Name,
	SMotors__Amount__c: payload01.Amount__c,
	SMotors__FirstName__c: payload01.FirstName__c,
	SMotors__LastName__c: payload01.LastName__c,
	SMotors__OpportunityName__c: payload01.OpportunityName__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="SMotors__Payment__c" doc:name="Upsert" doc:id="e4a4413a-673a-4480-a4bc-e7828313bd39" config-ref="Salesforce_ConfigCleanOrg" externalIdFieldName="Name"/>
		<logger level="INFO" doc:name="Logger" doc:id="91950285-e489-4b2e-a6a2-f80a360c6fba" message="#[output application/java&#10;---&#10;payload]"/>
	</flow>
</mule>
